@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
	--white: #fff;
	--black: #000;

	--color-one: #0d1933;
	--color-two: #002240;
	--color-four: #fdfdfd;
	--button-color: #fec84a;
	--buttonPDF-color: #fec84a;
	--buttonReset-color: #ff5145;
}

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--color-four);
}

.editor-container {
	min-width: 0%;
	height: 400px;
	scrollbar-color: var(--color-two);
}

#editor {
	height: 100%;
	width: 100%;
	font-size: 20px;
	scrollbar-color: var(--color-two);
}
#generateButton,#generateButtonPDF,#resetButton {
	font-family: "Montserrat", sans-serif;
	background-color: var(--button-color);
	color: var(--black);
	font-weight: 600;
	font-size: 1.5rem;
	border: none;
	width: 100%;
	margin: 0;
	padding: 1rem 1rem 1rem 1rem;
}
#generateButtonPDF{
	background-color: var(--buttonPDF-color);
}
#resetButton{
	background-color: var(--buttonReset-color);
}
.ace-cobalt .ace_print-margin {
	display: none;
}
