@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
	--white: #fff;
	--black: #000;

	--color-one: #0d1933;
	--color-two: #002240;
	--color-three: #fec84a;
	--color-four: #e6e6e6;
	--button-color: #f6a130;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.editor-container {
	min-width: 0%;
	height: 400px;
	scrollbar-color: var(--color-two);
}

#editor {
	height: 100%;
	width: 100%;
	font-size: 20px;
	scrollbar-color: var(--color-two);
}
#generateButton {
	font-family: "Montserrat", sans-serif;
	background-color: var(--color-three);
	color: var(--black);
	font-weight: 500;
	font-size: 1.5rem;
	border: none;
	width: 100%;
	margin: 0;
	padding: 1rem 1rem 1rem 1rem;
}
.ace-cobalt .ace_print-margin {
	display: none;
}
