@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
	--white: #fff;
	--black: #000;

	--color-one: #0d1933;
	--color-two: #1958db;
	--color-three: #fec84a;
	--color-four: #e6e6e6;
	--button-color: #f6a130;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

.codeInput {
	background-color: var(--white);
	width: 100%;
	padding: 1.5rem 2rem 1.5rem 2rem;
}
.sourceCode {
	width: 100%;
	height: 30rem;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid var(--black);
	border-radius: 4px;
	background-color: var(--color-four);
	font-size: 16px;
	resize: none;
}

.submit-input {
	width: 200px;
	margin: 2rem 2rem 2rem 0;
}
.submit-input {
	padding: 15px 20px 15px 20px;
	background-color: var(--button-color);
	border: none;
	color: black;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-box-shadow: 10px 10px 0px 3px rgba(0, 0, 0, 1);
	-moz-box-shadow: 10px 10px 10px 3px rgba(0, 0, 0, 1);
	box-shadow: 10px 10px 0px 1px rgba(0, 0, 0, 1);
}

.output {
	background-color: var(--white);
	width: 50%;
	min-height: 5rem;
	margin: 1.5rem 2rem 1.5rem 2rem;
	padding: 1rem 0.5rem 1rem 0.5rem;
	border: 2px solid var(--black);
}

.error {
	color: red;
	font-weight: bold;
}
